* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f0f2f5; /* Cor de fundo mais suave */
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
        background-color: #f9fafc; /* Fundo mais claro para o conteúdo */
        border: 1px solid #e2e8f0; /* Bordas mais suaves */
    }
}
